@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.education-timeline,.experience-timeline{
    margin-top: 50px;
    background-color: white;
}
.timeEducation{
    font-family: "Poppins",sans-serif;
    font-size: 16px !important  ;
    padding: 8px;
}
.titleEducation{
    /* style={{fontFamily:"Rubik", fontWeight:600,color:"#302e4d"}} */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color:#302e4d;
}