/* Menu Toggle Responsive */
.aside .nav-toggle .toggle-red{
    height: 1.5px;
    background-color: #ec1839;
}
.aside .nav-toggle .toggle-red::before,
.aside .nav-toggle .toggle-red::after{
    background-color: #ec1839;
    /* height: 1.5px; */
}
.aside .nav-toggle .toggle-blue{
    height: 1.5px;
    background-color: #2196f3;
}
.aside .nav-toggle .toggle-blue::before,
.aside .nav-toggle .toggle-blue::after{
    background-color: #2196f3;
    /* height: 1.5px; */
}
.aside .nav-toggle .toggle-orange{
    height: 1.5px;
    background-color: #FA5B0F;
}
.aside .nav-toggle .toggle-orange::before,
.aside .nav-toggle .toggle-orange::after{
    background-color: #FA5B0F;
    /* height: 1.5px; */
}
.aside .nav-toggle .toggle-yellow{
    height: 1.5px;
    background-color: #ffb400;
}
.aside .nav-toggle .toggle-yellow::before,
.aside .nav-toggle .toggle-yellow::after{
    background-color: #ffb400;
    /* height: 1.5px; */
}
.aside .nav-toggle .toggle-green{
    height: 1.5px;
    background-color: #72b626;
}
.aside .nav-toggle .toggle-green::before,
.aside .nav-toggle .toggle-green::after{
    background-color: #72b626;
    /* height: 1.5px; */
}
/* .home .intro .social-links a, */
.color-change-title h2::before,
.color-change-title h2::after{
    background-color: #ec1839;
}
/* Btn Red Logo */
.aside .logo.red a::before{
    border-top: 4px solid #ec1839;
    border-left: 4px solid  #ec1839;
}
.aside .logo.red a::after{
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid  #ec1839;
}
/* Blue */
.aside .logo.blue a::before{
    border-top: 4px solid #2196f3 !important;
    border-left: 4px solid  #2196f3 !important;
}
.aside .logo.blue a::after{
    border-bottom: 4px solid #2196f3 !important;
    border-right: 4px solid  #2196f3 !important;
}
/* Orange */
.aside .logo.orange a::before{
    border-top: 4px solid #FA5B0F !important;
    border-left: 4px solid  #FA5B0F !important;
}
.aside .logo.orange a::after{
    border-bottom: 4px solid #FA5B0F !important;
    border-right: 4px solid  #FA5B0F !important;
}
/* Yellow */
.aside .logo.yellow a::before{
    border-top: 4px solid #ffb400 !important;
    border-left: 4px solid  #ffb400 !important;
}
.aside .logo.yellow a::after{
    border-bottom: 4px solid #ffb400 !important;
    border-right: 4px solid  #ffb400 !important;
}
/* Green */
.aside .logo.green a::before{
    border-top: 4px solid #72b626 !important;
    border-left: 4px solid  #72b626 !important;
}
.aside .logo.green a::after{
    border-bottom: 4px solid #72b626 !important;
    border-right: 4px solid  #72b626 !important;
}

/* BtnRed */
.activeTextMenu{
    color: #ec1839 !important;
}
/* hover Button */
.aside .nav-menu-div li.btnRedHover a:hover{
    color: #ec1839 !important;
}
.aside .nav-menu-div li.btnBlueHover a:hover{
    color: #2196f3 !important;
}
.aside .nav-menu-div li.btnOrangeHover a:hover{
    color: #FA5B0F !important;
}
.aside .nav-menu-div li.btnYellowHover a:hover{
    color: #ffb400 !important;
}
.aside .nav-menu-div li.btnGreenHover a:hover{
    color: #72b626 !important;
}
/* active */
.btnColorRed
{
    color: #ec1839 !important;
}
.btnColorBlue{
    color: #2196f3 !important;
}
.btnColorOrange{
    color: #FA5B0F !important;
}
.btnColorYellow{
    color: #ffb400 !important;
}
.btnColorGreen{
    color: #72b626 !important;
}
