.aside .logo a::before{
    border-top: 4px solid #ec1839;
    border-left: 4px solid  #ec1839;
}
.aside .logo a::after{
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid  #ec1839;
}
.aside .nav-menu li a:hover,
.aside .nav-menu li a.active{
    color: #ec1839;
}
.aside .nav-toggle span{
    background-color: #ec1839;
}
.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after,
.home .intro .social-links a,
.section-title h2::before,
.section-title h2::after{
    background-color: #ec1839;
}