.style-switcher{
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 10;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d4d4e3;
    border-radius: 0 0 0 4px;
    /* -webkit-transform: translateX(100%);
    transform: translateX(100%); */
    transition: all 0.3s ease;
}
.closeSwitcherSetting{
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.openSwitcherSetting{
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.style-switcher h5{
    font-size: 16px;
    color: #302e4d;
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}
.style-switcher ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    margin-bottom: 5px;
}
.style-switcher ul li{
    display: inline-block;
}
.style-switcher ul li p{
   height: 30px;
   width: 30px;
   display: block;
   border-radius: 50%;
   cursor: pointer;
   text-decoration: none;
   margin-right: 5px;
}
.style-switcher .toggle-style-switcher {
    position: absolute;
    top: -1px;
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    left: -46px;
    border: 1px solid #d4d4e3;
    border-right: none;
    text-align: center;
    cursor: pointer;
    border-radius: 4px 0 0 4px;
}
.style-switcher .toggle-style-switcher .fa{
    font-size: 21px;
    line-height: 43px;
}


/* Custom Switch Theme Dark/Light */
.ThemeSwitch{ 
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    align-items: center;
    -ms-flex-align: center;
    -ms-flex-pack: center;
}
.checkboxTheme {
	/* opacity: 0; */
    position: absolute;
}

.labelTheme {
    /* background-color: #111; */
    background-color:  #877c9d;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.labelTheme .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkboxTheme:checked + .labelTheme .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
    /* color: #f39c12; */
    color: orangered;
}

/* Custom choose Languages */
.style-switcher .listLanguage li{
    display: block;
}